---
layout: default
title: Backyard Luge
active_nav: Blog
---
<div class="container">
    <div class="twelve columns blog blog-index">
        <!-- TODO: is it possible to provide a placeholder for the announcement here
        without the display layout? I'd like to keep that in announcement layout(same for blockquote)-->
        {% for post in site.categories.announcement %}
            <div class="alert alert-announce">
                <h4>{{ post.title }}</h4>
                {{ post.content }}
            </div>
        {% endfor %}

        {% for post in site.categories.blog %}
            <article class="post">
                <div class="wrap">
                    <div class="content">
                        <h2 class="title">
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </h2>
                        <ul class="meta clearfix">
                            <li><i class="icon-blog"></i>{{ post.date | date: "%b %d, %Y" }}</li>
                            <li><i class="icon-user"></i>{{ post.author }}</li>
                        </ul>
                        {% if post.excerpt  %}
                            <p>{{ post.excerpt }}</p>
                        {% endif %}
                        {% if post.img-path  %}
                            <div class="media image">
                                <img src="{{ post.img-path }}" alt="">
                            </div>
                        {% endif %}
                    </div>
                    <div class="read-more">
                        <a href="{{ post.url }}">Read More</a>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
    <aside class="four columns sidebar">
        <section class="sidebar-section">
            <div class="portfolio">
                <div class="">
                    <div class="four columns">
                        <div class="slider-box">
                            <div class="flexslider">
                                <ul class="slides">
                                    {% for post in site.categories.blockquote %}
                                        <li>
                                            <blockquote>{{post.quote}}<small>{{post.credit}}</small></blockquote>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="underline-heading">
                <h3>Race Results</h3>
            </div>
            <ul class="arrow-list">
                {% for post in site.categories.race_results %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            <div class="underline-heading">
                <h3>Recent Posts</h3>
            </div>
            <ul class="arrow-list">
                {% for post in site.categories.blog %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        <section class="sidebar-section">
            <div class="underline-heading">
                <h3>Recent Tweets</h3>
            </div>
            <div class="tweet-stream">
                <ul></ul>
            </div>
        </section>
        <section class="sidebar-section">
            <div class="underline-heading">
                <h3>Recent Photos</h3>
            </div>
            <div class="flickr-stream">
                <ul></ul>
            </div>
        </section>
    </aside>
</div>