/* Save and include the following CSS styles on your page. */
a {
	color: #77a6ee;
}

a:hover {
	color: #3279e5;
}

#main-nav ul li.active {
	border-top-color: #8DA7C3;
}

#main-nav ul li.active:before {
	border-top-color: #8DA7C3;
}

#main-nav ul ul li a:hover {
	background-color: #77a6ee;
}

.blog .post .side .post-type {
	background-color: #77a6ee;
}

.blog .post .content .meta li a:hover {
	color: #77a6ee;
}

.blog .post .wrap .read-more a {
	background-color: #8DA7C3;
}

.portfolio-filter ul li.active a,.portfolio-filter ul li:hover a {
	background-color: #77a6ee;
}

.portfolio-filter ul li.active a:after {
	border-top-color: #77a6ee;
}

.portfolio-items .item .image .overlay .actions li a:hover {
	color: #77a6ee;
}

.portfolio-row .read-more a {
	background-color: #77a6ee;
}

.portfolio .portfolio-meta span:before { /*background-color: #77a6ee;*/
	
}

.highlight {
	color: #77a6ee;
}

.underline {
	border-bottom-color: #77a6ee;
}

.underline-heading h1,.underline-heading h2,.underline-heading h3,.underline-heading h4,.underline-heading h5,.underline-heading h6
	{
	border-bottom-color: #8DA7C3;
}

.check-list li:before {
	color: #77a6ee;
}

.arrow-list li:before {
	border-left-color: #77a6ee;
}

.skill .circles span.filled {
	background-color: #8DA7C3;
}

.our-team .photo .info {
	border-left-color: #8DA7C3;
}

.our-team .social ul {
	border-top-color: #77a6ee;
}

.service .read-more a {
	background-color: #77a6ee;
}

.highlights.bold .highlight-item:hover .icon {
	background-color: #77a6ee;
}

.callout .link {
	background-color: #8DA7C3;
}

.callout .link:before {
	border-right-color: #8DA7C3;
}

.portfolio-carousel .carousel-nav li a {
	background-color: #77a6ee;
}

.latest-blog .overlay .post-type {
	background-color: #77a6ee;
}

.accordion .accordion-header {
	border-left-color: #77a6ee;
}

.alert-announce {
	background-color: #d9edf7;
	border-color: #8DA7C3;
	color: #3a87ad;
}

.alert-announce h4 {
	color: #3a87ad;
}

.slider-wrap {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.slider-wrap .slider-box {
	margin: 5px 0;
	padding: 7px;
	position: relative;
	background-color: #fff;
	border: 1px solid #ddd;
	position: relative;
	-webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
}

.slider-wrap.slider-wrap-no-margin {
	margin-bottom: 0;
}

.best-time {
	color: #FF0033;
	font-weight: bold;
}